@font-face 
{
    font-family:M1;
    src: url(../fuentes/Cartoon\ Queen.ttf);
}
@font-face 
{
    font-family:M2;
    src: url(../fuentes/Scary\ Halloween\ Font.ttf);
}
@font-face 
{
    font-family:M3;
    src: url(../fuentes/ComicRunes.otf);
}
@font-face 
{
    font-family:M4;
    src: url(../fuentes/One\ Piece\ -\ PERSONAL\ USE.ttf);
}
@font-face 
{
    font-family:M5;
    src: url(../fuentes/video\ games.ttf);
}
@font-face 
{
    font-family:M6;
    src: url(../fuentes/go3v2.ttf);
}

@font-face 
{
    font-family:M7;
    src: url(../fuentes/Hanged\ Letters.ttf);
}

@font-face 
{
    font-family:M8;
    src: url(../fuentes/Harukaze.ttf);
}

@font-face 
{
    font-family:M9;
    src: url(../fuentes/ya/Hanging\ Lights\ Demo.otf);
}

@font-face 
{
    font-family:M10;
    src: url(../fuentes/Karate.ttf);
}





